@use 'variables'
@use 'mixins'
@use 'keyframes'


.after-before
    background: variables.$fundo-card
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    gap: 10rem
    @include mixins.mobile
        height: 140vh
    @include mixins.tablet
        height: 140vh
    
    .after-container
        display: flex
        gap: 4rem
        @include mixins.mobile
            @include mixins.flex-column
        @include mixins.tablet
            @include mixins.flex-column
        
        .after-content
            
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center
            gap: 20px
            @include mixins.mobile
                display: flex
                align-items: center            
            h1
                color: variables.$yellow
                font-size: 2rem
                
                @include mixins.mobile
                    font-size: 2.4rem
                @include mixins.tablet
                    font-size: 2rem
                    padding: 10px
                
            p
                color: variables.$white
                font-size: 1.2rem
                font-weight: 200
                width: 500px
                max-width: 500px
                @include mixins.mobile
                    width: 100vw
                    padding: 10px
                    font-size: 1rem
                @include mixins.tablet
                    width: 100vw
                    padding: 10px
                    font-size: 1rem

            .text-cursor
                display: inline-flex
                color: variables.$yellow
                
                
                i
                    -webkit-text-stroke: 1px 
                    -webkit-text-stroke-color: variables.$white
                    color: variables.$fundo
                    font-size: 2.5rem
                    animation: arrow 1s infinite
                    @include mixins.mobile
                        font-size: 1rem
            
            

        .antesDepois
            position: relative
            width: 400px
            max-width: 400px 
            cursor: w-resize 
            border-radius: 2px
            @include mixins.mobile
                width: 80vw
            img
                max-width: 100% 
                border-radius: 2px

            .depois
                border-radius: none
                position: absolute
                top: 0
                left: 0
                width: 45%
                height: 99.5%
                background-size: cover
                border-right: 1px solid #fff 
                
                    