@use 'variables'
@use 'mixins'
@use 'keyframes'

.galeria
    
    .galeria-container
        background: variables.$fundo
        display: flex
        align-items: center
        height: 100vh
        flex-direction: column
        justify-content: center
        @include mixins.page
        
        filter: none
        .galeria-title
            margin-bottom: 6rem
            
            h1
                font-size: 3rem
                color: variables.$yellow

        .galeria-img
            display: grid
            grid-template-columns:  0fr 0fr 0fr 0fr 0fr
            justify-content: center
            grid-gap: 10px
            align-items: center
            
            .image
                max-width: 220px
                -moz-transition: all 0.3s
                -webkit-transition: all 0.3s
                transition: all 0.3s
                &:hover
                    -moz-transform: scale(1.1)
                    -webkit-transform: scale(1.1)
                    
                    
