@use 'variables'
@use 'mixins'
@use 'fonts'

header 
  background: variables.$fundo-header
  backdrop-filter: blur(10px)
  position: fixed
  width: 100vw
  z-index: 1000
  
  
  .menu 
    
    height: 6vh
    display: flex
    flex-wrap: wrap
    align-items: center
    text-align: center
    justify-content: center
    @include mixins.mobile
      height: 7vh
      
    @include mixins.tablet
      height: 7vh
    
    .navbar 
      width: 100%
      display: block
      
      @include mixins.mobile
        display: none
        height: 35vh
        padding: 20px
        background: #ffae00e0
        border-radius: 0 0 10px 10px 
        
        transform: translateY(7vh) 
        animation: navbar .3s ease forwards
        
        
        
      @include mixins.tablet
        display: none
        height: 40vh
        padding: 20px
        background: variables.$yellow
        
        transform: translateY(7vh)
        animation: navbar .3s ease forwards
      @include mixins.laptop
        display: none
        height: 30vh
        padding: 20px
        background: variables.$fundo-card
        transform: translateY(7vh)
        animation: navbar .3s ease forwards
      li
        transition: transform .5s ease
        @include mixins.mobile
          @include mixins.flex-end
          
          gap: 30px 
        @include mixins.tablet
          @include mixins.flex-end
          gap: 30px 
        @include mixins.laptop
          @include mixins.flex-end
          gap: 30px 
        
        a
          color: variables.$white
          font-size: .9rem
          text-transform: uppercase
          text-decoration: none
          margin-right: 40px
          font-weight: 400
          transition: 0.4s ease
          @include mixins.mobile
            color: variables.$black
            
            font-weight: 500
          @include mixins.tablet
            color: variables.$black
            font-weight: 500

          &:hover 
            color: variables.$yellow
            @include mixins.mobile
              color: variables.$grey
            @include mixins.tablet
              color: variables.$grey
          
    .hamburger
      background: none
      color: white
      border: none
      font-size: 1rem
      cursor: pointer
      position: absolute
      right: 10vw
      display: none
      @include mixins.mobile
        display: block
      @include mixins.tablet
        display: block
      @include mixins.laptop
        display: block
      &:hover
        color: variables.$yellow  
   


        
      
    
  
