@use 'variables'
@use 'mixins'
@use 'keyframes'

.services    
    .services-container
        background: variables.$fundo
        height: 100vh
        @include mixins.container
        .services-title
            @include mixins.title
            h1
                font-size: 1.6rem
                color: variables.$white
                font-weight: 400
                margin-top: 10px
            h2
                font-size: 3rem
                color: variables.$yellow
                margin-top: 10px
        .services-cards
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            margin-top: 50px
            grid-gap: 1px
            
            
            .card
                background: variables.$fundo-card
                display: flex
                justify-content: center
                flex-direction: row
                align-items: center
                margin: 5px
                width: 25vw
                height: 21vh
                padding: 10px
                gap: 3rem
                transition: 1s all
                
                &:hover
                    background: #2c2c2c
                

                .card-text
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: flex-start
                    margin: 10px
                    
            
                    h1
                        color: variables.$yellow

                    p
                        color: variables.$white
                        width: 220px


                    a
                        background: variables.$yellow
                        color: variables.$black
                        padding: 7px 10px
                        margin-top: 10px
                        border-radius: 5px
                        cursor: pointer
                        &:hover
                            background: variables.$backgroundBtn-light
                .card-img
                    overflow: hidden

                    img
                        max-width: 130px
                        
                        -moz-transition: all 0.3s
                        -webkit-transition: all 0.3s
                        transition: all 0.3s
                        &:hover
                            -moz-transform: scale(1.1)
                            -webkit-transform: scale(1.1)
                            transform: scale(1.1)

    
                    
                    

       