@use 'variables'
@use 'fonts'
@use 'mixins'
@use 'keyframes'
@use 'header'
@use 'home'
@use 'sobre'
@use 'services'


* 
  box-sizing: border-box
  margin: 0
  padding: 0
  


html,body
  scroll-behavior: smooth
  user-select: none
  // background: variables.$fundo
  background: cyan
  font-family: 'Ubuntu', sans-serif
  max-width: 100vw
  


main
  justify-content: center
  

    
    
  


 

 

