@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes scaleLogo {
  0% {
    transform: scale(1.032);
    transition: 1s ease;
  }
  50% {
    transform: scale(1.052);
    transition: 1s ease;
  }
  100% {
    transform: scale(1.032);
    transition: 1s ease;
  }
}
@keyframes arrow {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(7px);
  }
}
@keyframes navbar {
  0% {
    width: 0;
  }
  100% {
    width: 100vw;
  }
}
header {
  background: rgba(19, 19, 19, 0.8823529412);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  width: 100vw;
  z-index: 1000;
}
header .menu {
  height: 6vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@media (min-width: 300px) and (max-width: 480px) {
  header .menu {
    height: 7vh;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .menu {
    height: 7vh;
  }
}
header .menu .navbar {
  width: 100%;
  display: block;
}
@media (min-width: 300px) and (max-width: 480px) {
  header .menu .navbar {
    display: none;
    height: 35vh;
    padding: 20px;
    background: rgba(255, 174, 0, 0.9450980392);
    border-radius: 0 0 10px 10px;
    transform: translateY(7vh);
    animation: navbar 0.3s ease forwards;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .menu .navbar {
    display: none;
    height: 40vh;
    padding: 20px;
    background: #ffae00;
    transform: translateY(7vh);
    animation: navbar 0.3s ease forwards;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  header .menu .navbar {
    display: none;
    height: 30vh;
    padding: 20px;
    background: #131313;
    transform: translateY(7vh);
    animation: navbar 0.3s ease forwards;
  }
}
header .menu .navbar li {
  transition: transform 0.5s ease;
}
@media (min-width: 300px) and (max-width: 480px) {
  header .menu .navbar li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .menu .navbar li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  header .menu .navbar li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
  }
}
header .menu .navbar li a {
  color: #e6e4e4;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 40px;
  font-weight: 400;
  transition: 0.4s ease;
}
@media (min-width: 300px) and (max-width: 480px) {
  header .menu .navbar li a {
    color: #0a0a0a;
    font-weight: 500;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .menu .navbar li a {
    color: #0a0a0a;
    font-weight: 500;
  }
}
header .menu .navbar li a:hover {
  color: #ffae00;
}
@media (min-width: 300px) and (max-width: 480px) {
  header .menu .navbar li a:hover {
    color: #9b9a9a;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .menu .navbar li a:hover {
    color: #9b9a9a;
  }
}
header .menu .hamburger {
  background: none;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  right: 10vw;
  display: none;
}
@media (min-width: 300px) and (max-width: 480px) {
  header .menu .hamburger {
    display: block;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .menu .hamburger {
    display: block;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  header .menu .hamburger {
    display: block;
  }
}
header .menu .hamburger:hover {
  color: #ffae00;
}

.home {
  height: 100vh;
  background: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home .home-img {
  background-image: url("../Img/bk.jpeg");
  background-position: center;
  background-size: 100%;
  filter: contrast(50%) brightness(15%);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
@media (min-width: 300px) and (max-width: 480px) {
  .home .home-img {
    background-size: 200%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .home .home-img {
    background-size: 200%;
  }
}
.home .home-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  position: absolute;
  flex-direction: row-reverse;
}
@media (min-width: 300px) and (max-width: 480px) {
  .home .home-flex {
    flex-direction: column-reverse;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .home .home-flex {
    flex-direction: column-reverse;
  }
}
.home .home-flex .home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 300px) and (max-width: 480px) {
  .home .home-flex .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.home .home-flex .home-content .home-title {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: 500;
  color: #e6e4e4;
}
@media (min-width: 300px) and (max-width: 480px) {
  .home .home-flex .home-content .home-title {
    font-size: 2rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .home .home-flex .home-content .home-title {
    font-size: 2rem;
  }
}
.home .home-flex .home-content .home-subtitle {
  font-size: 4rem;
  font-weight: 700;
  background-image: linear-gradient(90deg, #ffae00 31.77%, #ffc400 116.61%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 300px) and (max-width: 480px) {
  .home .home-flex .home-content .home-subtitle {
    font-size: 2.1rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .home .home-flex .home-content .home-subtitle {
    font-size: 3rem;
  }
}
.home .home-flex .home-content .home-btn {
  background: #131313;
  font-size: 1.3rem;
  color: #ffae00;
  border: 1px groove #ffae00;
  padding: 15px 40px;
  margin-top: 20px;
  font-weight: 400;
  display: flex;
  gap: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}
.home .home-flex .home-content .home-btn:hover {
  transition: 0.3s cubic-bezier(0.42, 0, 0.21, 0.68);
}
.home .home-flex .home-content .home-btn:hover {
  cursor: pointer;
  background: #ffae00;
  color: #0a0a0a;
}
.home .home-flex .home-content .home-btn:hover span {
  position: relative;
  animation: arrow 0.4s forwards ease;
}
.home .home-flex .img .logoBaer {
  width: 350px;
}

.sobre {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #131313;
}
@media (min-width: 300px) and (max-width: 480px) {
  .sobre {
    height: 143vh;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .sobre {
    height: 143vh;
  }
}
.sobre .sobre-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
  gap: 5rem;
}
@media (min-width: 300px) and (max-width: 480px) {
  .sobre .sobre-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .sobre .sobre-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.sobre .sobre-content .sobre-img {
  overflow: hidden;
  border-radius: 5px;
}
.sobre .sobre-content .sobre-img img {
  width: 25vw;
  border-radius: 5px;
  filter: saturate(105%) brightness(100%);
  max-width: 100%;
  transition: all 0.3s;
}
@media (min-width: 300px) and (max-width: 480px) {
  .sobre .sobre-content .sobre-img img {
    width: 90vw;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .sobre .sobre-content .sobre-img img {
    width: 90vw;
  }
}
.sobre .sobre-content .sobre-img img:hover {
  transform: scale(1.1);
}
.sobre .sobre-content .sobre-text {
  max-width: 30vw;
}
@media (min-width: 300px) and (max-width: 480px) {
  .sobre .sobre-content .sobre-text {
    max-width: 90vw;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .sobre .sobre-content .sobre-text {
    max-width: 90vw;
  }
}
.sobre .sobre-content .sobre-text h1 {
  color: #e6e4e4;
  font-size: 3rem;
  line-height: 4rem;
}
.sobre .sobre-content .sobre-text h2 {
  color: #e6e4e4;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
}
.sobre .sobre-content .sobre-text p {
  color: #e6e4e4;
  font-size: 1rem;
  font-weight: 300;
}
.sobre .sobre-content .sobre-text .sobre-btn {
  background: #131313;
  font-size: 1.3rem;
  color: #ffae00;
  border: 1px groove #ffae00;
  padding: 15px 40px;
  margin-top: 20px;
  font-weight: 400;
  display: flex;
  gap: 6px;
  cursor: pointer;
  background: #ffae00;
  color: #0a0a0a;
  cursor: pointer;
}
.sobre .sobre-content .sobre-text .sobre-btn:hover {
  transition: 0.3s cubic-bezier(0.42, 0, 0.21, 0.68);
}
.sobre .sobre-content .sobre-text .sobre-btn:hover {
  background: none;
  color: #ffae00;
}
.sobre .sobre-content .sobre-text img {
  margin-top: 10rem;
  width: 600px;
  rotate: -20deg;
  filter: grayscale(100%);
  transition: 0.5s cubic-bezier(0.42, 0, 0.21, 0.68);
}
@media (min-width: 300px) and (max-width: 480px) {
  .sobre .sobre-content .sobre-text img {
    width: 90vw;
    rotate: none;
    margin-top: 5rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .sobre .sobre-content .sobre-text img {
    width: 90vw;
  }
}
.sobre .sobre-content .sobre-text img:hover {
  transition: 0.5s ease;
  filter: none;
}

.services .services-container {
  background: #080808;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 480px) {
  .services .services-container {
    height: 290vh;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .services .services-container {
    height: 270vh;
  }
}
.services .services-container .services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #080808;
  padding: 60px;
}
.services .services-container .services-title h1 {
  font-size: 1.6rem;
  color: #e6e4e4;
  font-weight: 400;
  margin-top: 10px;
}
.services .services-container .services-title h2 {
  font-size: 3rem;
  color: #ffae00;
  margin-top: 10px;
}
.services .services-container .services-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  grid-gap: 1px;
}
@media (min-width: 300px) and (max-width: 480px) {
  .services .services-container .services-cards {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .services .services-container .services-cards {
    grid-template-columns: 1fr;
  }
}
.services .services-container .services-cards .card {
  background: #131313;
  display: flex;
  justify-content: flex-end;
  flex-direction: colum-reverse;
  align-items: center;
  margin: 5px;
  gap: 3rem;
  transition: 1s all;
  z-index: 100;
}
@media (min-width: 300px) and (max-width: 480px) {
  .services .services-container .services-cards .card {
    width: 90vw;
    height: 25vh;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .services .services-container .services-cards .card {
    width: 90vw;
  }
}
.services .services-container .services-cards .card:hover {
  background: #2c2c2c;
}
.services .services-container .services-cards .card .card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}
.services .services-container .services-cards .card .card-text h1 {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #ffae00;
}
.services .services-container .services-cards .card .card-text p {
  color: #e6e4e4;
  font-size: 0.9em;
  width: 240px;
}
@media (min-width: 300px) and (max-width: 480px) {
  .services .services-container .services-cards .card .card-text p {
    width: 70vw;
  }
}
.services .services-container .services-cards .card .card-text a {
  background: #ffae00;
  color: #0a0a0a;
  padding: 7px 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.services .services-container .services-cards .card .card-text a:hover {
  background: #f5ac59;
}
.services .services-container .services-cards .card .card-img {
  overflow: hidden;
}
@media (min-width: 300px) and (max-width: 480px) {
  .services .services-container .services-cards .card .card-img {
    display: none;
  }
}
.services .services-container .services-cards .card .card-img img {
  width: 160px;
  height: 200px;
  border-radius: 1px;
  transition: all 0.3s;
}
.services .services-container .services-cards .card .card-img img:hover {
  transform: scale(1.1);
}

.after-before {
  background: #131313;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
@media (min-width: 300px) and (max-width: 480px) {
  .after-before {
    height: 140vh;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .after-before {
    height: 140vh;
  }
}
.after-before .after-container {
  display: flex;
  gap: 4rem;
}
@media (min-width: 300px) and (max-width: 480px) {
  .after-before .after-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .after-before .after-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.after-before .after-container .after-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 300px) and (max-width: 480px) {
  .after-before .after-container .after-content {
    display: flex;
    align-items: center;
  }
}
.after-before .after-container .after-content h1 {
  color: #ffae00;
  font-size: 2rem;
}
@media (min-width: 300px) and (max-width: 480px) {
  .after-before .after-container .after-content h1 {
    font-size: 2.4rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .after-before .after-container .after-content h1 {
    font-size: 2rem;
    padding: 10px;
  }
}
.after-before .after-container .after-content p {
  color: #e6e4e4;
  font-size: 1.2rem;
  font-weight: 200;
  width: 500px;
  max-width: 500px;
}
@media (min-width: 300px) and (max-width: 480px) {
  .after-before .after-container .after-content p {
    width: 100vw;
    padding: 10px;
    font-size: 1rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .after-before .after-container .after-content p {
    width: 100vw;
    padding: 10px;
    font-size: 1rem;
  }
}
.after-before .after-container .after-content .text-cursor {
  display: inline-flex;
  color: #ffae00;
}
.after-before .after-container .after-content .text-cursor i {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #e6e4e4;
  color: #080808;
  font-size: 2.5rem;
  animation: arrow 1s infinite;
}
@media (min-width: 300px) and (max-width: 480px) {
  .after-before .after-container .after-content .text-cursor i {
    font-size: 1rem;
  }
}
.after-before .after-container .antesDepois {
  position: relative;
  width: 400px;
  max-width: 400px;
  cursor: grab;
  border-radius: 5px;
}
@media (min-width: 300px) and (max-width: 480px) {
  .after-before .after-container .antesDepois {
    width: 80vw;
  }
}
.after-before .after-container .antesDepois img {
  max-width: 100%;
  border-radius: 5px;
}
.after-before .after-container .antesDepois .depois {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 99.5%;
  background-size: cover;
  border-right: 1px solid #fff;
}

.galeria {
  height: 100vh;
  background: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 480px) {
  .galeria {
    height: 150vh;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .galeria {
    height: 200vh;
  }
}
.galeria .galeria-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  filter: none;
  gap: 50px;
}
@media (min-width: 300px) and (max-width: 480px) {
  .galeria .galeria-container {
    justify-content: space-evenly;
  }
}
.galeria .galeria-container .galeria-title h1 {
  font-size: 3rem;
  color: #ffae00;
}
.galeria .galeria-container .galeria-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 5px;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 480px) {
  .galeria .galeria-container .galeria-img {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .galeria .galeria-container .galeria-img {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}
.galeria .galeria-container .galeria-img img {
  width: 240px;
  height: 300px;
  border-radius: 3px;
  transition: all 0.3s;
}
@media (min-width: 300px) and (max-width: 480px) {
  .galeria .galeria-container .galeria-img img {
    width: 150px;
    height: 180px;
    border-radius: 2px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .galeria .galeria-container .galeria-img img {
    width: 200px;
    border-radius: 2px;
  }
}
.galeria .galeria-container .galeria-img img:hover {
  -moz-transform: scale(1.011);
  -webkit-transform: scale(1.021);
}

.contato {
  height: 90vh;
}
.contato .contato-container {
  background: #ffae00;
  gap: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 480px) {
  .contato .contato-container {
    flex-direction: column-reverse;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .contato .contato-container {
    flex-direction: column-reverse;
  }
}
.contato .contato-container .contato-map iframe {
  border-radius: 10px;
}
@media (min-width: 300px) and (max-width: 480px) {
  .contato .contato-container .contato-map iframe {
    width: 90vw;
    height: 30vh;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .contato .contato-container .contato-map iframe {
    width: 90vw;
    height: 30vh;
  }
}
.contato .contato-container .contato-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 300px) and (max-width: 480px) {
  .contato .contato-container .contato-info {
    justify-content: center;
    align-items: center;
  }
}
.contato .contato-container .contato-info h1 {
  font-size: 3rem;
}
@media (min-width: 300px) and (max-width: 480px) {
  .contato .contato-container .contato-info h1 {
    font-size: 2.5rem;
  }
}
.contato .contato-container .contato-info span {
  font-size: 2rem;
}
.contato .contato-container .contato-info .btn {
  background: #131313;
  font-size: 1.3rem;
  color: #ffae00;
  border: 1px groove #ffae00;
  padding: 15px 40px;
  margin-top: 20px;
  font-weight: 400;
  display: flex;
  gap: 6px;
  cursor: pointer;
}
.contato .contato-container .contato-info .btn:hover {
  transition: 0.3s cubic-bezier(0.42, 0, 0.21, 0.68);
}
.contato .contato-container .contato-info .btn:hover {
  background: #ffae00;
  color: #080808;
  border: 1px solid #080808;
}
.contato .contato-container .contato-info .contato-social {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.contato .contato-container .contato-info .contato-social i {
  border: 1px solid black;
  border-radius: 100%;
  padding: 15px 15px;
  font-size: 1.6rem;
  color: #080808;
  transition: 0.3s cubic-bezier(0.42, 0, 0.21, 0.68);
}
.contato .contato-container .contato-info .contato-social i:hover {
  color: #e6e4e4;
  background: #080808;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #080808;
  font-family: "Ubuntu", sans-serif;
  max-width: 100vw;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: #080808;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 10px;
}

main {
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background: #0a0a0a;
}
.footer .footer-link {
  color: #9b9a9a;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */