@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  background: rgba(0, 0, 0, 0.486);
  background-blend-mode: color-burn;
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
}
header .navbar {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .navbar .menu {
  width: 80%;
}
header .navbar .menu a {
  color: #e6e4e4;
  font-size: 17px;
  text-decoration: none;
  margin-right: 50px;
  font-weight: 400;
  transition: 0.4s;
}
header .navbar .menu a:hover {
  color: #ff8a00;
}
header .navbar .logo .logoBaer {
  width: 120px;
  cursor: pointer;
}
header .navbar .logo .logoBaer:hover {
  -webkit-animation: rotationLogo 0.7s;
          animation: rotationLogo 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes rotationLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotationLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-page .page {
  width: 100vw;
  height: 100vh;
}
.main-page .home {
  background-image: url(Img/WhatsApp\ Image\ 2022-08-18\ at\ 11.18.51.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-page .home .opacityImg {
  width: 100vw;
  height: 100vh;
  padding: 300px 0;
  background-color: rgba(23, 23, 23, 0.5764705882);
}
.main-page .home .opacityImg .content {
  text-align: center;
  align-items: center;
  line-height: 80px;
}
.main-page .home .opacityImg .content .title-home {
  color: #e6e4e4;
  font-size: 30px;
}
.main-page .home .opacityImg .content .content-home {
  color: #ff8a00;
  font-size: 80px;
}
.main-page .home .opacityImg .content .btn {
  background-color: #ff8a00;
  padding: 10px 60px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: ease-out 0.3s;
}
.main-page .home .opacityImg .content .btn:hover {
  background-color: #e6e4e4;
}
.main-page .sobre {
  background-color: #171717;
  height: 70vh;
}
.main-page .sobre .component {
  background-color: #252524;
  width: 100vw;
  height: 20vh;
}
.main-page .sobre .component .component-title {
  text-align: center;
  padding: 70px;
}
.main-page .sobre .component .component-title .title-page {
  color: #e6e4e4;
  font-size: 27px;
  font-weight: 100;
}
.main-page .sobre .component .component-title .subtitle-page {
  color: #ff8a00;
  font-size: 40px;
}
.main-page .sobre .component .box {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  -webkit-animation: fadeOut 2s;
          animation: fadeOut 2s;
}
.main-page .sobre .component .box .box-content:hover {
  transform: scale(1.054);
  background-color: #0a0a0a;
}
.main-page .sobre .component .box .box-content {
  background-color: #252524;
  width: 335px;
  padding: 65px 17px;
  margin: 20px;
  border: none;
}
.main-page .sobre .component .box .box-content .title-box {
  color: #ff8a00;
  font-weight: bold;
  font-size: 25px;
  margin: 10px;
}
.main-page .sobre .component .box .box-content .p-box {
  color: #e6e4e4;
  word-break: break-all;
  justify-content: center;
  font-weight: 100;
  margin-bottom: 10px;
}
.main-page .sobre .component .box .box-content .btn-box {
  color: #e6e4e4;
  cursor: pointer;
}
.main-page .sobre .component .box .box-content .btn-box:hover {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  transition: 0.5s;
  color: #ff8a00;
}
.main-page .btn-page-sobre {
  background-color: #171717;
  height: 20vh;
  text-align: center;
}
.main-page .btn-page-sobre .btn-agendar {
  background-color: #ff8a00;
  padding: 10px 60px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: ease-out 0.3s;
}
.main-page .btn-page-sobre .btn-agendar:hover {
  background-color: #e6e4e4;
}
.main-page .planos {
  background-color: blue;
}
.main-page .contato {
  background-color: #ff8a00;
}/*# sourceMappingURL=style.css.map */